[submodule "lib/stm32h7xx_hal_driver"]
	path = lib/stm32h7xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32h7xx_hal_driver.git
[submodule "lib/cmsis_device_h7"]
	path = lib/cmsis_device_h7
	url = https://github.com/STMicroelectronics/cmsis_device_h7.git
[submodule "lib/cmsis_core"]
	path = lib/cmsis_core
	url = https://github.com/STMicroelectronics/cmsis_core
[submodule "lib/threadx"]
	path = lib/threadx
	url = https://github.com/eclipse-threadx/threadx.git
[submodule "lib/netxduo"]
	path = lib/netxduo
	url = https://github.com/eclipse-threadx/netxduo.git
